<!-- filepath: c:\Users\Administrator\Desktop\JS\naytto\views\partials\nav.ejs -->
<nav class="bg-gray-100 p-4">
  <div class="container mx-auto flex items-center justify-between flex-wrap">
    <a class="text-xl font-semibold text-gray-800" href="/dashboard">Dashboard</a>
    <ul class="flex space-x-6">
      <li>
        <a class="text-gray-700 hover:text-blue-600" href="/change-password">Change Password</a>
      </li>
      <li>
        <a class="text-gray-700 hover:text-blue-600" href="/request-data">Request Account Data</a>
      </li>
      <li>
        <a class="text-gray-700 hover:text-blue-600" href="/delete-account">Delete Account</a>
      </li>
      <li>
        <a class="text-gray-700 hover:text-blue-600" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>